.recipe-box {
  min-height: 100vh;
  margin: 50px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: transparent;
  /* background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%); */
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 70vh;
  border: none;
  padding: 10px;
  margin: 20px;
}
.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}
.recepies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}
