#loader {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.progress {
  display: none;
}

.errorMsg {
  font-size: 34px;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.box {
  /* background-color: black; */
  width: 90%;
  margin: auto;
  /* overflow: scroll; */
}

.row {
  display: flexbox;
  /* width: 30%; */
  margin: 20px;
}
.newsResults {
  widows: 40px;
}
